.app-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
}

.content {
  margin-top: 90px; /* Navbar için boşluk (60px navbar + 30px extra margin) */
  padding: 20px;
  transition: margin-top 0.3s ease;
}

@media (max-width: 768px) {
  .content {
    margin-top: 80px; /* Daha küçük ekranlar için margin ayarı */
  }
}

header {
  background-color: #3f51b5;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
  color: #666;
  font-size: 0.8rem;
  padding: 10px;
  border-top: 1px solid #eee;
}

.tab-container {
  display: flex;
  margin-bottom: 20px;
}

.tab-container button {
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  flex: 1;
}

.tab-container button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tab-container button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tab-container button.active {
  background-color: #3f51b5;
  color: white;
}
